<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaibhav</title>
</head>
<body>
    <h1>visulaization</h1>
    <img src="http://localhost:5000/" />
    <img src="http://localhost:5000/c-likes" />
    <img src="http://localhost:5000/c-shares" />
    <img src="http://localhost:5000/c-spam" />
    <img src="http://localhost:5000/c-inappropriate" />
    <img src="http://localhost:5000/c-harassment" />
    <img src="http://localhost:5000/c-copyright" />
    <img src="http://localhost:5000/c-other" />
    <img src="http://localhost:5000/c-reports" />
    <img src="http://localhost:5000/c-comments" />
    <img src="http://localhost:5000/c-trending" />
    <img src="http://localhost:5000/data1" />

    <img src="http://localhost:5000/c-views2" />
    <img src="http://localhost:5000/c-score" />
    <img src="http://localhost:5000/u-score" />
    <img src="http://localhost:5000/u-trending" />
    <img src="http://localhost:5000/u-reportscore"  />
    <img src="http://localhost:5000/v-comments" />
    <img src="http://localhost:5000/n-likes" />
    <img src="http://localhost:5000/l-comments" />
    <img src="http://localhost:5000/hashtags" />

</body>
</html>